<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Albumes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let album of album$ | async">
    <ion-item>
       <ion-label> {{album.artist}} - {{album.name}} </ion-label>
    </ion-item>
  </ion-list>

  <li>
    <a routerLink="/app-album-profile-editor" routerLinkActive="active" ariaCurrentWhenActive="page">
      Can't find it? Upload a release.
    </a>
  </li>

  <router-outlet></router-outlet>
</ion-content>
