<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Albumes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let album of album$ | async">
    <ion-item>
       <ion-label> {{album.name}} </ion-label>
    </ion-item>
  </ion-list>

  <ion-button id="createRelease">Can't find it? Upload another release</ion-button>
  <ion-modal #modal trigger="createRelease" (willPresent)="onWillPresent()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Upload Release</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()"> Close </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-nav #nav></ion-nav>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
